.form {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.error {
  color: red;
}

.top {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
