.home {
  height: calc(100vh - 100px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.home-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 15px;
  max-width: 800px;
}

.home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px #000;
}

.home p {
  font-size: 1.2em;
  line-height: 1.6;
  text-shadow: 1px 1px 3px #000;
}
