body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ededed;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #268529;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: #3f7927a2;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #ff4d4d;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.product-card button:hover {
  background-color: #ff1a1a;
}

.cart {
  margin-top: 40px;
  background: #97a19c;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.588);
}

.cart h2 {
  margin-top: 0;
  color: #238944;
}

.cart ul {
  list-style: none;
  padding: 0;
  color: #060000;
}

.cart li {
  padding: 5px 0;
  border-bottom: 1px solid #180202;
}
